<a href="/">Main</a>
<a href="/lol">Posts</a>
<a href="#">Forum</a>
<a href="/map">Map</a>
<iframe src="http://discussion.2374831.n4.nabble.com/" width="100%"height="100%" style="background-color:#9fadc4"></iframe>